html {
  font-size: 10px;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.mainbody {
  background-color: #111a20;
  height: auto;
}
.header {
  width: 70%;
  height: 20vh;
  margin: 0px auto;
  background-color: transparent;
  position: sticky;
  top: 0%;
  color: white;
  z-index: 10;
}
.header h3 {
  font-size: 2.5rem;
  margin: 0%;
  width: 50%;
  margin-top: 5%;
  float: left;
}
.header a {
  color: white;
  float: right;
  margin-right: 5vh;
  margin-top: 5%;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
}
.description {
  margin: 0 auto;
  color: white;
  width: 70%;
  height: 20vh;
  background-color: transparent;
  color: #83f9a2;
  line-height: 10vh;
  font-size: 2.5rem;
  z-index: 10;
}
.body {
  width: 70%;
  margin: 0% auto;
  color: whitesmoke;
  font-size: 2.2rem;
  font-weight: bolder;
  line-height: 5vh;
  height: 20vh;
}
#body-1 {
  color: violet;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.3s;
}
#body-1:hover {
  color: darkviolet;
  transition: 0.3s;
}
#body-2 {
  color: rgb(5, 94, 94);
  text-decoration: none;
  font-size: 2.1rem;
  transition: 0.3s;
}
#body-2:hover {
  color: rgb(0, 255, 255);
  transition: 0.3s;
}
#body-3 {
  color: red;
  text-decoration: none;
  font-size: 2.1rem;
  transition: 0.3s;
}
#body-3:hover {
  color: darkred;
  transition: 0.3s;
}
.footer {
  width: 70%;
  margin: 0 auto;
  background-color: #1c2c35;
  height: 37vh;
  text-align: center;
  padding-top: 5vh;
  color: #83f9a2;
}
.footer h3 {
  font-size: 3rem;
  font-weight: bolder;
}
.footer p {
  font-size: 1.5rem;
  line-height: 3.5vh;
  font-weight: bolder;
  color: white;
}
.footer button {
  width: 15vh;
  height: 5vh;
  color: white;
  font-size: 1.3rem;
  background: #09e243;
  outline: none;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  box-shadow: black 1vh;
}
.contact {
  margin: auto;
  width: 70%;
  height: 20vh;
  color: white;
  background-color: transparent;
}
.contact p {
  color: white;
  float: left;
  font-size: 2.1rem;
}
.contact a {
  font-size: 1.5rem;
  cursor: text;
  float: right;
  text-decoration: none;
  color: #09e243;
}
.img {
  cursor: pointer;
  height: 3vh;
  width: 3vh;
  margin: 4vh 4vh 0 0;
}
